.btn {
  background-color: #835afd;
  border-radius: 8px;
  border: 0;
  color: #f8f8f8;
  cursor: pointer;
  font-weight: 500;
  height: 50px;
  padding: 0 32px;
  transition: filter 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:disabled):hover {
    filter: brightness(0.95);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
