.question {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;
  border: 1px solid transparent;
  transition: 0.3s;

  & + .question {
    margin-top: 8px;
  }

  &.highlight {
    background: #f4f0ff;
    border-color: #835afd;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);

    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    background-color: #dbdcdd;
  }

  p {
    color: #29292e;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  footer {
    display: flex;
    justify-content: space-between;

    .user-info {
      align-items: center;
      display: flex;

      img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
      }

      span {
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 8px;
    }

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      vertical-align: middle;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;
      }

      &:hover {
        filter: brightness(0.6);
      }
    }
  }
}
